<?xml version='1.0' encoding='utf-8'?>
<widget id="com.wanderBrowser.myapp" version="1.0.0" 
        xmlns="http://www.w3.org/ns/widgets" 
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>WanderBrowser</name>
    <description>Professional App</description>
    <author email="wonderfordisaac@gmail.com">WanderSlapp</author>

    <!-- Nthawi zonse ikani .html ku content src -->
    <content src="index.html" />

    <icon src="www/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#FFFFFF" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon.png" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="AutoHideSplashScreen" value="true" />

    <!-- Preferences zothetsa vuto la Cookies ndi WebView Block -->
    <preference name="ThirdPartyCookiesEnabled" value="true" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MixedContentMode" value="0" />
    <preference name="AllowUniversalAccessFromFileURLs" value="true" />
    <preference name="AllowFileAccessFromFileURLs" value="true" />

    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        
        <!-- Kupanga Android kuti ilole network requests zonse (Cleartext Traffic) -->
        <edit-config file="app/src/main/AndroidManifest.xml" target="/manifest/application" mode="merge">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <config-file target="AndroidManifest.xml" parent="/manifest/application/activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>
    </platform>

    <!-- Navigation & Intent Rules za Webusaiti iliyonse -->
    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>

